main{
    display: flex;
    justify-content: center;
}

.donation-section{
    max-width: 500px;
    display: flex;
    flex-direction: column;

    .text{
        text-align: center;
    }

    fieldset{
        margin: 10px;
        border: none;
    }
    legend{
        font-weight: bolder;
        margin-bottom: 15px;
        text-align: center;
        font-size: calc(0.5vw + 0.7rem);
    }

    .donation-option{
        display: flex;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 20px;
        p{
            margin: 0;
            padding: 0;
        }
    }

    .donation-value{
        display: flex;
        justify-content: center;
        align-self: center;
        flex-wrap: wrap;
        max-width: 24rem;
        gap: 10px 5px;

        .other{
            display: flex;
            align-self: center;
            margin-left: 15px;
            width: 90%;
        }

        p{
            display: flex;
            // flex: 1;
            margin-bottom: 2px;
        }

        label{
            padding: 10px 15px;
            border-radius: 5px;
            background-color: #e5e5e5;
            color: #ababab;
            font-size: 1rem;
            font-weight: 600;
            transition: background-color .65s, box-shadow .65s; 
        }
        input{
            border: none;
            background-color: transparent;
            font-size: 1rem;
            appearance: none;
            color: white;
            font-weight: 600;
            &:checked + label{
                background-color: $primary-color;
                color: white;
            }
            &::placeholder{
                color: #ababab;
            }
            &:-webkit-outer-spin-button, -webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
            }
            &:focus{
                outline: none;
            }
        }
        //remove arrows https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance:textfield; /* Firefox */
        }
    }

    .contact-information{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        gap: 10px 0;
        input{
            height: 23px;
            width: 98%;
            &:focus{
                border-radius: 3px;
                outline: none;
                border: 3px solid $primary-color;
                box-shadow: 0 0 2px darken($primary-color, 5%);
            }
        }
        p{
            flex: 50%;
        }
    }

    button{
        margin: 10px;
        cursor: pointer;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        padding: 10px 0;
        color: white;
        font-size: calc(0.5vw + 0.7rem);
        font-weight: bold;
        font-family: 'Plus Jakarta Sans', sans-serif;
        transition: ease .65s;
        &:hover{
            transition: ease .65s;
            background-color: darken($color: $primary-color, $amount: 5%);
        }
    }
}

@media only screen and (max-width: 550px){
    .contact-information{
        flex-direction: column;  
    }
}