{% extends "layout.html" %}

{% block main %}
    <!-- ========== HERO ========== -->
    <section class="hero">
        <div class="hero-text">
            <h1>Mude o estilo de vida de crianças para sempre</h1>
            <p>Ajude crianças a terem uma dieta balanceada e saudável contribuindo com algum valor ou alimento</p>
            <a class="hero-link" href="./donation">Fazer doação</a>
        </div>

        <img class="hero-image" alt="children in vegetable-costume" src="../static/images/vegetable-costume.svg">
    </section>
{% endblock %}